/* .cart-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.cart-container {
  background: white;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.btn-container{
  position: absolute;
  top: 2rem;
  right: 2rem;
  margin-bottom: 2rem;
}

.btn-container button{
  background: transparent;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  margin-left: 0.5rem;
}
.btn-container button:hover{
  background-color: #dcdde1;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cart-item-container{
  margin: 2rem 0 2.5rem 0;
  padding-top: 1rem;
  border-top: 1px solid gray;
  height: 70vh;
  overflow-y: scroll;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-top: 1rem;
}
.item-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left{
  display: flex;
  align-items: center;
}
.item-name{
  font-size: 1.3rem;
  font-weight: 600;
  color: #3498db;
}
.cart-item img{
  height: 7rem;
  width: 8rem;
  margin-right: 2rem;
}
.item-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.item-price, .item-quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.delete-button{
  background: transparent;
  font-size: 1.5rem;
  border: none;
}
.cart-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dff9fb;
  padding: 1rem;
}
.cart-summary {
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-summary .total {
  font-weight: 600;
}
.cart-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.empty-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 10rem auto;
}

.empty-cart .icon{
  font-size: 3rem;
}
