.product-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  width: 80vw;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}
.brandsEl{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
.brandsEl a {
  list-style-type: none;
  text-decoration: none;
  color: #222;
}
.brand-items {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
.brand-items:hover {
  background-color: #f1f2f6;
}
.brand-name {
  font-size: 1.25rem;
  padding: 0.5rem 0;
}
.brand-description {
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .brandsEl a{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}
